{% set stunnel = salt['grains.filter_by']({
    'Debian': {
        'package': 'stunnel4',
        'service': 'stunnel4',
        'default_user': 'stunnel4',
        'default_group': 'stunnel4',
        'home': '/var/lib/stunnel4',
        'conf_dir': '/etc/stunnel',
        'log_dir': '/var/log/stunnel',
        'default': '/etc/default/stunnel4',
        'pid': '/var/run/stunnel.pid'
    },
}, merge=salt['pillar.get']('stunnel:lookup'), default='Debian') %}